.imgyep {
    margin-left: 526px;
    margin-right: 526px;
    width: 150px;
    height: 150px;
}
.yeptitle {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
}
.yeptext {
    margin-top: 35px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.yepl{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.yeplink {
    padding: 7px 27px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #69aa00;
    border-radius: 10px;
    background-color: #ffffff;
    color: #69aa00;
    transition: 0.3s;
}
.yeplink:hover {
    border-radius: 15px;
    background-color: #AFD275;
    border-color: #AFD275;
    color: #ffffff;
    transition: 0.3s;
}